  
  .cellphone-container {
    width: 375px;
    height: 650px;
    background-color: #1e1b26;
    margin: 60px auto 0 auto;
    box-shadow: 5px 5px 115px -14px black;
    border-radius: 4px;
  }
 .content{
  display:flex;
  width: 100%;
 }
  .movie-img {
    width: 100%;
    height: 380px;
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/274917435_131726046036683_8698961912462993744_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_ohc=8L14MbM0dHsAX_ZAlbE&_nc_ht=scontent-bog1-1.xx&oh=00_AT8-Mfp_5hKn5q-cfCj1Zj6C5mV2a82A1ovWS777QIVFug&oe=621ECAEF);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); */
    position: relative;
  }
  .movie-img2 {
    width: 100%;
    height: 380px;
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/274918621_131726719369949_7959279179873448985_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=03uGHniPtuYAX_8CFOr&_nc_ht=scontent-bog1-1.xx&oh=00_AT-QVsozPN8HXUJNwoTNMOd1lR_bibQY6DppousiT96fwQ&oe=621EDC7C);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); */
    position: relative;
  }
  .movie-img3 {
    width: 100%;
    height: 380px;
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/274855349_131742749368346_5704662673925062944_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_ohc=M_QU_9y2CH8AX_siKy2&_nc_ht=scontent-bog1-1.xx&oh=00_AT9SGKc1jo_5-IMC5jMcuVIbLEDb_lwngy83o32fC4Wmkw&oe=621EC1B1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); */
    position: relative;
  }
  .movie-img4 {
    width: 100%;
    height: 380px;
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/274903571_131729939369627_8142554041416434599_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=9ZwYz-uvobMAX8xQalp&_nc_ht=scontent-bog1-1.xx&oh=00_AT8pS7HIPUjH7qiovpeBTCH8GLY2fndvTLAz7q-fgoEthw&oe=6220058A);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); */
    position: relative;
  }
  .movie-img5 {
    width: 100%;
    height: 380px;
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/274900984_131725139370107_1894207740161710380_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_ohc=ZWCb0RWHel4AX8wxVum&_nc_oc=AQnfS82jcCj-kmhVnb96uzOoap6qpA7F21K4Wry_bocY4e_LKgHL2dfKzSJ-iq_Pkok&_nc_ht=scontent-bog1-1.xx&oh=00_AT-8HqADe-1pN9tc25_B3qC5yqUft2k7EoL7a_J1mbYklA&oe=621F3E68);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); */
    position: relative;
  }
  .movie-img6 {
    width: 100%;
    height: 380px;
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/274918005_131726552703299_3724230279059420698_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=EIfQC6WlIC4AX-lCJrR&_nc_ht=scontent-bog1-1.xx&oh=00_AT8Z2gb1OW4v4B9UJdqVZXxcfO7xAGmOKh2sVYJZvGuWNA&oe=621E8B87);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); */
    position: relative;
  }
  .movie-img7 {
    width: 100%;
    height: 380px;
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/274921097_131726796036608_1092168587556718435_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=82w_0K4Dc3IAX-OfdZR&_nc_ht=scontent-bog1-1.xx&oh=00_AT-vEvHoQbF9GPqyqheL0D6c4vgj50bVy_GuVsanG8Updw&oe=621F9F9E);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); */
    position: relative;
  }
  .movie-img8 {
    width: 100%;
    height: 380px;
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t39.30808-6/274925347_131724672703487_3458648179553796717_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_ohc=hRg9QAlsdD0AX8_nI8S&tn=jDRzb9Pv68N-dasA&_nc_ht=scontent-bog1-1.xx&oh=00_AT-41ga-6GEODRHCRu0qUdKivHv0sNo8O8FXkhS7LjfQ7g&oe=621F4C5A);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 111 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.85, rgba(0, 0, 0, 0.6)), color-stop(1, transparent)); */
    position: relative;
  }
  .movie {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,1e1b26+53&0+38,1+55 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 );
    /* IE6-9 */
    position: absolute;
    background-size: contain;
    background-size: cover;
    z-index: 1 !important;
    width: 375px;
    height: 540px;
    display: block;
    border-radius: 4px;
  }
  
  .text-movie-cont {
    padding: 0px 12px;
    text-align: justify;
  }
  
  .action-btn {
    text-align: right;
  }
  
  .action-row {
    margin-top: 24px;
  }
  
  .summary-row {
    margin-top: 12px;
  }
  
  /* TYPOGRAPHY STARTS */
  /* Fonts */
  h1, h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
    color: #e7e7e7;
    margin: 0px;
  }
  
  h1 {
    font-size: 34px;
    font-weight: 400;
  }
  
  h3 {
    font-size: 14px;
    font-weight: 400;
    color: #fe4141;
  }
  
  h5 {
    font-size: 12px;
    font-weight: 400;
  }
  
  .movie-gen, .movie-likes {
    margin: 0px;
    padding: 0px;
  }
  .movie-gen li, .movie-likes li {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #818181;
    width: auto;
    display: block;
    float: left;
    margin-right: 6px;
    font-weight: 600;
  }
  
  .movie-likes {
    float: right;
  }
  .movie-likes li {
    color: #fe4141;
  }
  .movie-likes li:last-child {
    margin-right: 0px;
  }
  .movie-likes li i {
    font-size: 14px;
    margin-right: 4px;
    position: relative;
    float: left;
    line-height: 1;
  }
  
  .movie-details {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #b4b4b4;
  }
  
  .movie-description {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #9b9b9b;
    text-align: justify;
    line-height: 1.3;
  }
  
  .movie-actors {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #e7e7e7;
    font-style: italic;
  }
  
  /* TYPOGRAPHY ENDS */
  /** GRID STARTS **/
  .thegrid {
    margin: 0 auto;
  }
  
  .elements-distance, .movie-details, .movie-description, .movie-actors {
    margin: 0px;
  }
  
  .mr-grid {
    width: 100%;
  }
  
  .mr-grid:before, .mr-grid:after {
    content: "";
    display: table;
  }
  
  .mr-grid:after {
    clear: both;
  }
  
  .mr-grid {
    *zoom: 1;
  }
  
  .col1, .col2, .col3, .col3rest, .col4, .col4rest, .col5, .col5rest, .col6, .col6rest {
    margin: 0% 0.5% 0.5% 0.5%;
    padding: 1%;
    float: left;
    display: block;
  }
  
  /* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/
  .col1 {
    width: 98%;
  }
  
  .col2 {
    width: 47%;
  }
  
  .col3 {
    width: 30.3333333333%;
  }
  
  .col4 {
    width: 22%;
  }
  
  .col5 {
    width: 17%;
  }
  
  .col6 {
    width: 13.6666666667%;
  }
  
  /* Columns match with their individual number. E.G. col3+col3rest=full width row */
  .col3rest {
    width: 63.6666666667%;
  }
  
  .col4rest {
    width: 72%;
  }
  
  .col5rest {
    width: 77%;
  }
  
  .col6rest {
    width: 80.3333333333%;
  }
  
  .dribbble-link {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50px;
  }