<div class="content" style="text-align:center;">
<!-- CARD 1 -->
<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Enfoque Juvenil</h1>
            <ul class="movie-gen">
              <li>Vida Nueva Stereo /</li>
              <li>sabados 8:00 pm/</li>
              <li> Jovenes, Adolecentes,</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">Este es un programa para compartir el
              mensaje de la palabra de Dios en los labios de los más jóvenes de la congregación y tratar
              temas de actualidad e interés juvenil por medio de los espacios de pregunta del día,
              testifiquemos, ¿Qué ves y escuchas? y acércate a Dios. </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">Director: Paula Lagos Colmenares</p>
          </div>
        </div>
        <div class="mr-grid action-row">
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CARD 2 -->
<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img2"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Devocional Matutino</h1>
            <ul class="movie-gen">
              <li>Vida Nueva Stereo /</li>
              <li> Lunes, Sabados 5:00 - 6:00Am /</li>
              <li>Oración, Momento Espiritual</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">
            Un espacio especial para iniciar el día de la mejor manera, ¡agradeciendo y exaltando al Gran Rey! donde podrás escuchar el consejo del día, alabanzas que invitan a cantar desde bien temprano y peticiones que nos recuerdan que podemos acercarnos ante el trono de la gracia para alcanzar misericordia y hallar gracia para el oportuno socorro. (Hebreo 4:16) </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">Director: Deissy Viviana Holguín Mesa </p>
          </div>
        </div>
        <div class="mr-grid action-row">
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CARD 3 -->
<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img3"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Zona Mental</h1>
            <ul class="movie-gen">
              <li>Vida Nueva Stereo/</li>
              <li>8:00 pm - 8:30 pm /</li>
              <li>Psicología, Salud Mental, Bases Bíblicas</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">Zona Mental es un programa basado en la Palabra de Dios y la psicología,
              buscando promover hábitos de vida que mejoren la salud mental, así mismo se tratan temas
              relacionados con la mente y el comportamiento, con el objetivo de acercar estos conceptos
              a quienes sienten curiosidad por adentrarse en el mundo de la psicología. </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">Director: Paula Lagos Colmenares</p>
          </div>
        </div>
        <div class="mr-grid action-row">
         
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class="content" style="text-align:center;">
<!-- CARD 4 -->
<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img4"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Foro Informativo</h1>
            <ul class="movie-gen">
              <li>Vida Nueva Stereo /</li>
              <li>####### /</li>
              <li>Informes, Comunicados</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">¡Alerta, alerta! ¡Mantente al día! Conoce el lugar, el día y la hora de
              cada fiesta espiritual a nivel local, de zona y nacional, para que puedas asistir y recibir lo
              que Dios tiene reservado para tí. Sólo por Vida Nueva Stereo, tu canal informativo. </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">Director: Deissy Viviana Holguín Mesa</p>
          </div>
        </div>
        <div class="mr-grid action-row">
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CARD 5 -->
<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img5"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Démonos Prisa</h1>
            <ul class="movie-gen">
              <li>Vida Nueva Stereo /</li>
              <li>Sabados 6:00 pm/</li>
              <li>Hombres, Consejeria, Relatos,</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">Un aviso de gran importancia por parte de los caballeros, a despertar en
              medio de la monotonía, el conformismo y el desinterés, que pueden estar ganando partida
              en tiempos decisivos. ¡Date prisa! a sintonizar este programa que refleja las verdades
              bíblicas que no pueden ser olvidadas. </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors"> Director: Heriberto Naranjo Olave </p>
          </div>
        </div>
        <div class="mr-grid action-row">
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CARD 6 -->
<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img6"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Una Ventana al Exterior</h1>
            <ul class="movie-gen">
              <li>Vida Nueva Stereo /</li>
              <li>Sabados 8:00 am/</li>
              <li>Historias, Experiencias</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">¿Te gustaría escuchar de primera mano las experiencias de
              pastores y misioneros que han dedicado sus vidas al servicio del Señor?. Esta es la
              oportunidad para que conozcas los detalles detrás de un llamado, sin importar la distancia,
              a tan sólo un clic puedes abrir la ventana que te lleve a cruzar fronteras.
               </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">Director: Noel Holguín Sánchez</p>
          </div>
        </div>
        <div class="mr-grid action-row">
         
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class="content" style="text-align:center;">
<!-- CARD 7 -->
<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img7"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Cita con la Salud</h1>
            <ul class="movie-gen">
              <li>Vida Nueva Stereo /</li>
              <li>Miercoles 8:00 am/</li>
              <li>Salud, Cuidados</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">¿Qué tanto sabes de tu cuerpo? ¿Te preocupa el peso de los años?
              Reporta tu sintonía a esta cita, que se encargará de exponer tips, riesgos y beneficios que
              enmarcan el bien más preciado, la salud.
               </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">Director: Grethy Briceño Vegas</p>
          </div>
        </div>
        <div class="mr-grid action-row">
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CARD 8 -->
<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="movie-img8"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1>Para ti Mujer</h1>
            <ul class="movie-gen">
              <li>Vida Nueva Stereo /</li>
              <li>Jueves 5:00 am/</li>
              <li>Mujeres, Consejeria</li>
            </ul>
          </div>
        </div>
        <div class="mr-grid">
          <div class="col1">
            <p class="movie-description">Mujer virtuosa, ¿quién la hallará?, porque su estima sobrepasa largamente
              a la de las piedras preciosas. Proverbios 31:10.
              Un grupo de mujeres virtuosas se disponen para cautivar el corazón, a través de las ondas
              radiales, con un espacio lleno de consejos y palabras de sabiduría, a cada mujer que está
              en casa, en la oficina, en el campo y en la ciudad. ¡No te lo pierdas!
               </p>
          </div>
        </div>
        <div class="mr-grid actors-row">
          <div class="col1">
            <p class="movie-actors">Director: Mariela Duarte</p>
          </div>
        </div>
        <div class="mr-grid action-row">
         
        </div>
      </div>
    </div>
  </div>
</div>

</div>

