<div class="row">

    <div class="col-md-4 mx-auto my-5">
      <a><img  class="img-fluid z-depth-1"
              src="assets/img/galeria/imagen1.jpeg"
              alt="imagen"></a>
    </div>
  
    <div class="col-md-4 mx-auto my-5">
      <a><img  class="img-fluid z-depth-1"
              src="assets/img/galeria/imagen2.jpeg"
              alt="video"></a>
    </div>
  
    <div class="col-md-4 mx-auto my-5">
      <a><img  class="img-fluid z-depth-1"
              src="assets/img/galeria/imagen3.jpeg"
              alt="video"></a>
    </div>
   
    <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen4.jpeg"
                alt="video"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen5.jpeg"
                alt="video"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen6.jpeg"
                alt="video"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="https://media-cdn.tripadvisor.com/media/photo-s/1c/f7/b1/01/hotel-cacique-chalala.jpg"
                alt="imagen"></a>
      </div>

      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen7.jpeg" 
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen8.jpeg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen9.jpeg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen10.jpg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen11.jpg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen12.jpg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen13.jpg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen14.jpg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen15.jpg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/imagen16.jpg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/antigua1.jpeg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/antigua2.jpeg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/antigua3.jpeg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/antigua4.jpeg"
                alt="imagen"></a>
      </div>
      <div class="col-md-4 mx-auto my-5">
        <a><img  class="img-fluid z-depth-1"
                src="assets/img/galeria/antigua5.jpeg"
                alt="imagen"></a>
      </div>
  </div>

