<!-- DOCTRINA -->
<div class="cont-inter-qs shadow">
    <div class="col-md">
        <img src="https://cdn-icons.flaticon.com/png/512/4186/premium/4186009.png?token=exp=1643473183~hmac=986eee1dfbd983ca253b7903a70bfa47" alt="">
        <h2>
            NUESTRA DOCTRINA
        </h2>    
    </div>
    <P>
        Nuestras bases bíblicas se asocian firmemente a las doctrinas fundamentales, reveladas en la Santa Biblia. Cabe mencionar que el Señor Jesucristo establece que las vidas recientemente convertidas sean adoctrinadas y enseñadas. (Mateo 28:19-20 , Marcos 16:15) 
    </P>
    <p>
        Luego de haber tomado la mejor decisión de su vida; el reconocer a Jesucristo como su Señor y Salvador por medio de la fe y por consiguiente haber nacido de nuevo, el creyente debe recibir “Instrucciones Bíblicas” con la intención de aprender acerca de su nueva vida en Cristo, así como también las doctrinas, normas y reglas bíblicas que serán el sello en su profesión cristiana.
    </p>
    
</div>

<!-- HISTORIA -->
<div class="cont-inter-qs shadow">
    <div class="col-md">
        <img src="https://cdn-icons-png.flaticon.com/512/1183/1183858.png" alt="">
        <h2>
            NUESTRA HISTORIA
        </h2>    
    </div>
    <P>
        Charalá es un municipio de Colombia perteneciente al departamento de Santander. Recibió su título de municipio en el año de 1887, luego de que los españoles llegaran a colonizar una organización indígena conocida como los “Chalaláes”. A lo largo de la historia, Charalá fue conocido a nivel nacional, por aportar a la revolución comunera, la cual a su vez contribuyó a la independencia de Colombia, y asimismo, este municipio es conocido por ser cuna de próceres y líderes revolucionarios como: Jose Antonio Galán, José Blas Acevedo y Gómez y María Antonia Santos Plata, incluso es conocida como la cuna de la Libertad de América
    </P>
    <p>
        La obra del Movimiento Misionero Mundial llegó a Charalá en el año 1976, cuando el pastor Hisleno Restrepo empezó a predicar la palabra de Dios en un pequeño local cerca de la concurrida Plazuela, sin embargo, desde los primeros días los habitantes del pueblo fueron renuentes al evangelio, hasta que una persona decidió entrar a escuchar a aquel hombre que predicaba a una habitación vacía y fue allí cuando el hermano Víctor García creyó en el señor Jesucristo y se convirtió en el primer miembro de una incipiente iglesia que crecería a apresurados pasos, pero al mismo tiempo sería perseguida y asediada con violencia.
    </p>
    <p>
        En el año de 1978 se llevó a cabo la primera campaña evangelística, para la cual invitaron al predicador Manuel Capellán, un evento de gran bendición donde se vió la respuesta a la oración y evangelización de los Pastores, la familia Córdoba, quienes salieron a pastorear en el municipio de Encino, los Gualdrón, los Meza, los Peña y los hermanos Julio Malaver y Víctor García. En esta preciosa bendición se convirtieron varios hermanos que perseveran en los caminos de Dios hasta nuestros días.
    </p>
    <p>
        Para finales del año 1978 llegó a pastorear la iglesia de Charalá, el hermano Ismael Parrado y su esposa, la hermana Martha Saavedra, quienes se enfocaron en el trabajo con los jóvenes, con el fin de prepararlos para salir a predicar la palabra a otros lugares, entre ellos están los hoy pastores: José Córdoba, José Ipólito Parra, Rafael Parra, Nelson Lagos, Isaura Archila, Nidia Sandoval y Gloria Cordero.
    </p>
    <p>
        La labor consistía en dar a conocer el evangelio del Señor Jesucristo en los pueblos aledaños y en todas las veredas, aunque no fue fácil y la gran mayoría de las veces fueron atacados y amenazados, pero los hermanos se fortalecieron en el Señor y siguieron cumpliendo la gran comisión. Luego de cuatro años, los pastores Parrado fueron enviados como misioneros al país de Argentina y en su lugar llegó el pastor Hermelino Chaparro y su esposa, la hermana Lucila Ramirez.
    </p>
    <p>
        Luego de pasar por cinco locales para realizar las reuniones, a la llegada del pastor Chaparro, se adquirió un lote donde se construyó el primer templo propio del Movimiento Misionero Mundial, una construcción realizada por los miembros de la iglesia, dirigidos por el pastor.
    </p>
    <p>
        En este momento la iglesia ya era numerosa y todos unánimes buscaban servir al Señor, sin embargo aún  en el año de 1982 se presentan amenazas y persecuciones a los hermanos, empero la obra surgía y se abrió obra en los municipios de Ocamonte, Coromoro y Cincelada.
    </p>
    <p>
        El trabajo en las veredas era de gran bendición y se convertían familias enteras al evangelio. Una década después, en el año 2003, la iglesia adquirió el teatro municipal y con la guía  del Dios Todopoderoso, se pudo adecuar para establecer hasta el día de hoy el templo de la obra del Movimiento Misionero Mundial, un lugar donde se han llevado a cabo preciosos eventos de zona y gloriosas campañas.
    </p>
    <p>
        Luego de 29 años de trabajo en Charalá, la familia Chaparro Ramirez fue trasladada y llegó nuestro Pastor Willington Cuesta, con su esposa, la hermana Lorena Naranjo, en el año 2013, quienes siguieron el trabajo en las veredas, durante estos años, se fundaron templos en el caserío de Riachuelo y en la vereda de Capellanía, y se inauguró la emisora Vida Nueva Stereo.
    </p>
    <p>
        La iglesia sigue creciendo en la cabecera municipal, hemos visto cómo se cumplen las promesas de Dios con éste pequeño pueblo, que de cuna de próceres pasó a ser cantera de predicadores y de gran bendición para todo el mundo por medio del proyecto la emisora y los programas en vivo por redes sociales. Seguiremos adelante pues proseguimos, al igual que Pablo, “...a la meta, al premio del supremo llamamiento de Dios en Cristo Jesús” Filipenses 3:14.
    </p>
    <div style="text-align:center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xPh69ObyGbo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<!-- OBRA MISIONERA -->
<div class="cont-inter-qs shadow">
    <div class="col-md">
        <img src="https://cdn-icons-png.flaticon.com/512/71/71423.png" alt="">
        <h2>
            OBRA EVANGELÍSTICA
        </h2>    
    </div>
    <P>
        Desarrollamos la comisión que nos otorgo el Señor a través de Mateo 28:19 " Por tanto, id, y haced discípulos a todas las naciones, bautizándolos en el nombre del Padre, y del Hijo, y del Espíritu Santo"  
    </P>
    <p>
        En la cual nos invita a llevar la palabra del Señor a las persona que no tienen un conocimiento pleno del Dios 
    </p>
    <div style="text-align:center;">
        <iframe width="550" height="310" src="https://www.youtube.com/embed/WoZ4DtH161I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div class="contacto-dv">
    <div class="title-t">
        <img src="https://cdn-icons.flaticon.com/png/512/4368/premium/4368667.png?token=exp=1643649243~hmac=b2546e0d478a67f413d3b14ee3efe1c9" alt="">
        <a>
            HORARIOS DE CULTO
        </a> 
    </div>
    <P>
        Miércoles: Culto de Oración 7:00 pm.
    </P>
    <P>
        Viernes: Culto de Enseñanza Bíblica 7:00 pm.
    </P>
    <P>
        Domingos: Escuela Dominical 9:00 am
    </P>
    <P>
        Domingos: Culto Evangelístico 5:00 pm.
    </P>
</div>
<div class="contacto-dv">
    <div class="title">
        <img src="https://cdn-icons-png.flaticon.com/512/126/126341.png" alt="">
        <a>
            CONTACTO
        </a> 
    </div>
    <P>
        Tel: 3168356340
    </P>
    <div class="title">
        <img src="https://cdn-icons.flaticon.com/png/512/3082/premium/3082383.png?token=exp=1643648643~hmac=483d9efc106b57c83a78535277c9e3eb" alt="">
        <a>
            DIRECCIÓN
        </a> 
    </div>
    <P>
        Car: 15 #24-34 Charalá-Santander
    </P>
</div>

